plugins/logan_wade_university_of_bath/jump/__pycache__/jump_results.cpython-311.pyc
plugins/logan_wade_university_of_bath/cycling/__pycache__/ergo_cycling_results.cpython-311.pyc
plugins/logan_wade_university_of_bath/rowing/__pycache__/ergo_rowing_results.cpython-311.pyc
plugins/logan_wade_university_of_bath/sit_to_stand/__pycache__/sit_to_stand_results.cpython-311.pyc

.idea
__pycache__
.pixi
.spyproject

# excludes the graph spec output of the scripts.
**/example-session*/**/*.json